.fullCalc {
    width: 50vw;
    overflow: hidden;
    height: 95vh;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #eee;
    padding: 1rem;
    background: linear-gradient(#BBC3C9, #51555F, #09080A);
    /* position: fixed; */
}



@media screen and (max-width: 1281px) {
    .fullCalc {
        margin: 3rem auto;
        width: 60vw;
        height: 83vh;
    }

}

@media screen and (max-width: 1034px) {
    .fullCalc {
        width: 59vw;
        height: 80vh;
        margin: 0rem auto;
        /* min-width: 995px; */
    }

}

@media screen and (max-width: 1020px) {
    .fullCalc {
        width: 65vw;
        height: 80vh;
        margin: 0rem auto;
        /* min-width: 995px; */
        }
        
        }
        
        @media screen and (max-width: 547px) {
            .fullCalc {
                width: 60%;
    }
}

/* @media screen and (max-width: 413px) {
    .fullCalc {
        width: 89vw;
        height: 88vh;
        margin: .5rem auto;
    }

    .app {
        height: 90vh;
        width: 90vw;
    }

}

*/
@media screen and (max-width: 281px) {
    .fullCalc {
        width: 84vw;
        height: 95vh;
        margin: .5rem auto;
    }

}