.But {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.fullCalc {
    width: 18rem;
    margin: 05rem auto;
    border-radius: 15px;
    border: 2px solid #eee;
    padding: .5rem;
    background: linear-gradient(#BBC3C9, #51555F, #09080A);
}