.body {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    width: 100%;
    margin: 0 .5rem 1rem;
    height: 30vh;
    color: #e4e7e8;
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    border-bottom: 1px solid #bbc3c9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    overflow: scroll;
    overflow-wrap: break-word;
    /* background-color: #fff; */
}

.But,
.But1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 0;
    height: 70%;
}

/* .But1 {
    display: none;
} */

.equal {
    margin: 2rem auto 1rem;
    height: 100%;
    width: 100%;
    background-color: #e37d2f;
    color: #bbc3c9;
    border-radius: 30px;
    border: none;
    text-align: center;
    height: 5vh;
    font-size: 32px;
}

.Numbers {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 60%;
}

.del {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1rem;
}

/* @media screen and (min-width: 415px) {
    .But1 {
        display: grid;
    }

    .display {
        height: 30vh;
        width: 100%;
        font-size: 54px;
    }

    .equal {
        width: 95%;
        height: 7vh;
    }

    .Numbers {
        height: 70vh;
    }
}
*/

@media screen and (max-width: 1281px) {
    .Numbers {
        height: 35vh;
    }

    .But1 {
        display: grid;
    }

    .equal {
        height: 50px;
    }

    .display {
        font-size: 48px;
        height: 25vh;
    }
}

@media screen and (max-width: 1025px) {
    .Numbers {
        height: 30vh;
    }

    .equal {
        height: 45px;
        margin: 3.5rem 0;
    }

    .display {
        font-size: 32px;
        height: 20vh;
    }
}

@media screen and (max-width: 413px) {
    .Numbers {
        height: 38vh;
    }

    .equal {
        height: 50px;
        margin: 3.5rem 0;
    }

    .But1 {
        display: none;
    }

    .display {
        font-size: 32px;
        height: 25vh;
    }
}

@media screen and (max-width: 281px) {
    .Numbers {
        height: 38vh;
    }

    .equal {
        height: 50px;
        margin: 3.5rem 0;
    }

    .But1 {
        display: none;
    }

    .display {
        font-size: 32px;
        height: 20vh;
    }
}