.body {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    width: 17rem;
    margin: 0 .5rem 1rem;
    height: 20vw;
    color: #e4e7e8;
    /* border: 2px solid black; */
    /* border-radius: 15px; */
    border-bottom: 1px solid #bbc3c9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: right;
    font-size: 32px;
    font-weight: 500;
    overflow: scroll;
    /* background-color: #fff; */
}

.But,
.But1 {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.But1 {
    display: none;
}

.equal {
    margin: 2rem auto 1rem;
    height: 100%;
    width: 100%;
    background-color: #e37d2f;
    color: #bbc3c9;
    border-radius: 30px;
    border: none;
    text-align: center;
    height: 5vh;
    font-size: 32px;
}

/* .Numbers {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
} */
.del {
    display: flex;
    align-items: center;
    justify-content: space-between;
}